<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Employee Records</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	</head>
	<body>
		{% if employee_list %}
		<table class="table table-striped table-bordered table-sm">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Cell Phone</th>
					<th>Salary</th>
					<th>Managed Count</th>
					<th>Managed Salary</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for employee in employee_list %}
				<tr>
					<td>{{ employee.id }}</td>
					<td>{{ employee.name }}</td>
					<td>{{ employee.email }}</td>
					<td>{{ employee.cell_phone }}</td>
					<td>{{ employee.salary }}</td>
					<td>{{ employee.get_managed_count }}</td>
					<td>{{ employee.get_managed_salary }}</td>
					<td>
						<a href="{% url 'employees:detail' employee.id %}"><span class="glyphicon glyphicon-pencil" >Details</span></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No employees listed.</p>
		{% endif %}
	</body>
</html>